@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Zilla+Slab&display=swap');

body {
    background-color: #d7cba3;
    color: #3b3524;

    font-family: 'Zilla Slab', serif;
}

h1, h2, h3, h4 {
    font-family: 'Special Elite', cursive;
}

img {
    border: 10px solid #a0a1a5;
    box-shadow: 5px 5px 0 0 #727672;
    margin: 0px 10px;
}